.code-block {
    width: 100%;
    background-color: #e4e4e4 !important;
    height: 250px;
    padding: 1rem;
}

.code-block:hover, .code-block:focus {
    background-color: #e4e4e4 !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}
